@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/components/Calendar.css */
.calendar-container {
    max-width: 300px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .react-calendar {
    border: none;
    font-family: Arial, sans-serif;
  }
  
  .react-calendar__tile {
    border-radius: 50%;
    padding: 10px;
    transition: background 0.3s;
  }
  
  .react-calendar__tile:hover {
    background: #e0e0e0;
  }
  
  .react-calendar__tile:enabled:focus {
    background: #c0c0c0;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #ccc;
  }
  
  .today {
    background: #0066ff;
    color: white;
    border-radius: 50%;
  }
  
  .booked {
    background: #e54a3e;
    color: white;
    border-radius: 50%;
    pointer-events: none;
  }

  .partially-booked {
    background: #ffa500;
    color: white;
    border-radius: 50%;
    pointer-events: none;
  }
  








  .fixed {
    position: fixed;
  }
  
  .inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .flex {
    display: flex;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .bg-opacity-50 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .z-20 {
    z-index: 20;
  }